/* Make Scrool Bar */ 
body {
    min-height: 150vh;
}
/* Header Text Customization */
.header-text {
    color: blue;
    font-size: 150px;
    text-align: center;
    font-family: 'Orbitron';
    background-image: url(https://laxcartman.github.io/images/header-background.jpg);
    text-decoration: none;
    
}
/* Background Custimization (Main)*/
.gray-background {
    background-color: rgb(220, 225, 227)
}
/* Top Text Custimization */ 
.top-text {
    background-color:darkblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/* No Link Decoration */ 
.page-links {
color: white;
text-decoration: none;
}
/* Page Link Custimization (Hover) */ 
.page-links:hover {
    color: black;
}
/* Navigation Bar Stuff */ 
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: darkblue;
}
nav ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
        text-decoration: none;
    }
nav li {
        display: inline;
        margin-right: 20px;
        text-decoration: none;
    }
.nav-links {
    text-decoration: none;
    color: white;
}
.nav-links:hover {
    color: blue
}