/* Header Text Customization */
.header-text {
    color: blue;
    font-size: 150px;
    text-align: center;
    font-family: 'Orbitron';
    background-image: url(https://laxcartman.github.io/images/header-background.jpg);
    text-decoration: none;
    padding-top: 20px;
}
/* Background Custimization (Main)*/
.gray-background {
    background-color: gray
}
/* Top Text Custimization */ 
.top-text {
    background-color:darkblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/* No Link Decoration */ 
.page-links {
color: white;
text-decoration: none;
}
/* Page Link Custimization (Hover) */ 
.page-links:hover {
    color: blue;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: darkblue;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 219px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
  
    .rounded-buttons {
        border-radius: 12px;
        padding: 20px;
        border: none;
        display: inline;
        font-size: 20px;
    }