/* Header Text Customization */
.header-text {
    color: #484d5c;
    font-size: 150px;
    text-align: center;
    font-family: 'Orbitron';
}
/* Background Custimization (Main)*/
.gray-background {
    background-color: rgb(220, 225, 227)
}
/* Top Text Custimization */ 
.top-text {
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}