/* Header Text Customization */
.header-text {
    color: blue;
    font-size: 150px;
    text-align: center;
    font-family: 'Orbitron';
    background-image: url(https://laxcartman.github.io/images/header-background.jpg);
}
/* Background Custimization (Main)*/
.gray-background {
    background-color: rgb(220, 225, 227)
}
/* Top Text Custimization */ 
.top-text {
    background-color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/* Page Link Custimization */ 
.page-links {
color: white;
text-decoration: none;
}
/* Page Link Custimization (Hover) */ 
.page-links:hover {
    color: black;
}