/* Header Text Customization */
.header-text {
    color: #484d5c;
    font-size: 150px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
/* Backgrounf Customization (Main)*/
}
.gray-background {
    background-color: rgb(220, 225, 227)
}